@import "assets/spinner";
/* You can add global styles to this file, and also import other style files */
body {
  background-color: #1a1a1a;
  font-family: Verdana, Geneva, sans-serif;
}
.no-data {
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
